*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
}
h1{
    margin-bottom: 20px;
    color: #fff;
}
div.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}
div.item,
div.x{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
}
div.item:hover,
div.item:active{
    background-color: #fff;
    cursor: pointer;
}
div.circle{
    border-radius: 50%;
    border: 5px solid #f00;
    height: 70%;
    width: 70%;
}
div.stick1,
div.stick2{
    width: 75px;
    height: 5px;
    background-color: #00f;
    position:fixed;
}
div.stick1{
    transform: rotate(45deg);
}
div.stick2{
    transform: rotate(-45deg);
}
div.actions{
    margin-top: 20px;
}
button{
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    border: none;
    margin: 0px 5px;
    transition: all ease 0.3s;
}
button:hover,
button:active{
    transform: translateY(-5px);
    cursor: pointer;
}



